/* #region basic style */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 96px 0;
}
@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}
a {
  text-decoration: none;
  color: currentColor;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* #endregion basic style  */
/* #region header */
.page-nav {
  padding: 16px 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.relogo {
  color: #4d5ae5;
}
.menu-nav,
.contacts {
  display: none;
}
.nav-btn-mobile {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
@media screen and (min-width: 768px) {
  .page-nav {
    padding: 0;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
  }
  .menu-nav,
  .contacts {
    display: flex;
  }
  .menu-nav {
    gap: 40px;
  }
  .list-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-nav:hover,
  .list-nav:focus {
    color: #404bbf;
  }
  .list-nav-item {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-nav-item::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .nav-btn-mobile {
    display: none;
  }
  .contacts {
    font-style: normal;
    display: flex;
    align-items: center;
  }
  .menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .list-contact {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-contact:hover {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .menu-contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .list-contact {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
/* #endregion header */
/* #region main */
/* #region hero */
.page-hero {
  min-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-img/bg-img-mobile@1x.jpg);
  background-color: #2e2f42;
  padding: 72px 0;
}
@media (min-resolution: 192dpi) {
  .page-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-img/bg-img-mobile@2x.jpg);
  }
}
.title-hero {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  padding-bottom: 72px;
  margin: 0 auto;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .page-hero {
    min-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-img/bg-tablet@1x.jpg);
  }
  .title-hero {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .page-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-img/bg-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .page-hero {
    padding: 188px 0;
    min-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop-img/bg-desktop@1x.jpg);
  }
  .title-hero {
    padding-bottom: 48px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .page-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop-img/bg-desktop@2x.jpg);
  }
}
/* #endregion hero */
/* #region descr */
.descr {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.border-descr {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}
.name-descr {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .descr {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .list-descr {
    width: calc((100% - 72px) / 2);
  }
}
@media screen and (max-width: 1157.98px) {
  .list-descr div,
  .icon-descr {
    display: none;
  }
  .name-descr {
    font-weight: 700;
    font-size: 36px;
  }
  .text-descr {
    font-weight: 500;
  }
}
@media screen and (min-width: 1158px) {
  .descr {
    gap: 24px;
  }
  .list-descr {
    width: calc((100% - 72px) / 4);
  }
}
@media screen and (max-width: 767.98px) {
  .name-descr {
    text-align: center;
  }
}
/* #endregion descr */
/* #region team */
.team {
  background: #f4f4fd;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
.list-team {
  min-width: 264px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
  .team-menu {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }
}
@media screen and (min-width: 1158px) {
  .team-menu {
    gap: 24px;
  }
  .list-team {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.text-team {
  padding: 32px 0;
}
.name-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.descr-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.list-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.item-icon {
  width: 40px;
  height: 40px;
}
.item-team-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-team-link:hover,
.item-team-link:focus {
  background-color: #404bbf;
}
.icon-team {
  fill: #f4f4fd;
}
/* #endregion team */
/* #region portf */
.title-portf {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.list-descr-portf {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.list-portf:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
  .list-descr-portf {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
  }
  .list-portf {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .list-portf {
    width: calc((100% - 2 * 24px) / 3);
  }
}
.overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
li:hover .overlay-text {
  transform: translateY(0%);
}
.cont-portf {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.name-title-portf {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.descr-portf {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion portf */
/* #region footer */
.end-page {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-cont {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.descr-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.text-icons-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}
.list-footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.item-footer-list {
  width: 40px;
  height: 40px;
}
.item-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-link-footer:hover,
.item-link-footer:focus {
  background-color: #31d0aa;
}
.icon-footer {
  fill: #f4f4fd;
}
.text-email-form {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}
.email-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.form-footer-input {
  font-family: 'Roboto', sans-serif;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
  padding-left: 16px;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.form-footer-input::placeholder {
  color: #ffffff;
}
.form-footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  min-width: 165px;
  height: 40px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.form-footer-icon {
  margin-left: 16px;
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .end-page {
    padding: 100px 0;
  }
  .footer-cont {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .cont-logo {
    max-width: 264px;
  }
  .logo-footer,
  .text-icons-footer,
  .text-email-form {
    display: inline-block;
  }
  .email-form {
    flex-direction: row;
    justify-content: start;
  }
  .form-footer-input {
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .cont-logo {
    margin-right: 120px;
  }
  .footer-cont {
    align-items: baseline;
  }
  .footer-icons {
    margin-right: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .end-page .container {
    max-width: 584px;
  }
}
