/* #region basic style */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.container {
  max-width: 288px;
  padding: 0 16px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: currentColor;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* #endregion basic style  */
/* #region header */
.page-nav {
  padding: 16px 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.relogo {
  color: #4d5ae5;
}
.menu-nav,
.contacts {
  display: none;
}
.nav-btn-mobile {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
@media screen and (min-width: 768px) {
  .page-nav {
    padding: 0;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
  }
  .menu-nav,
  .contacts {
    display: flex;
  }
  .menu-nav {
    gap: 40px;
  }
  .list-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-nav:hover,
  .list-nav:focus {
    color: #404bbf;
  }
  .list-nav-item {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-nav-item::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .nav-btn-mobile {
    display: none;
  }
  .contacts {
    font-style: normal;
    display: flex;
    align-items: center;
  }
  .menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .list-contact {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-contact:hover {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .menu-contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .list-contact {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
/* #endregion header */
/* #region main */
/* #region hero */
.page-hero {
  min-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-img/bg-img-mobile@1x.jpg);
  background-color: #2e2f42;
  padding: 72px 0;
}
@media (min-resolution: 192dpi) {
  .page-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-img/bg-img-mobile@2x.jpg);
  }
}
.title-hero {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  padding-bottom: 72px;
  margin: 0 auto;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .page-hero {
    min-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-img/bg-tablet@1x.jpg);
  }
  .title-hero {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .page-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-img/bg-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .page-hero {
    min-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop-img/bg-desktop@1x.jpg);
  }
  .title-hero {
    padding-bottom: 48px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .page-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop-img/bg-desktop@2x.jpg);
  }
}
/* #endregion hero */
